# History files
.Rhistory
.Rapp.history
.gitignore
.Rbuildignore
*.Rproj*


# Example code in package build process
*-Ex.R

# produced vignettes
vignettes/*.html
vignettes/*.pdf
FB storage/.Rproj.user/ECE72FA4/persistent-state
*.RData
*.RData
*.Rhistory

